body{
    font-family: 'Nunito Sans', sans-serif;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}
header{
    border-bottom: 1px solid #DEDEDE;
}
.header-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 80.5%;
}
.header{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 25px 0;
}
.header-logo{
    display: block;
    background-image: url(../img/logo.svg);
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav{
    list-style-type: none;
    display: flex;
    gap: 47px;
    padding-right: 137px;
}
.header-nav a{
    font-weight: 600;
    font-size: 20px;
    color: #443737;
    text-decoration: none;
    transition: 0.2s;
}
.header-nav a:hover{
    color: #FFC725;
}
.header-nav a::after{
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background: transparent;
    display: flex;
}
.header-nav a.active::after{
    background: #FFC725;
}
.button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;
}
.button-item{
    position: relative;
}
.button-text{
    color: #443737;
    font-weight: 700;
    font-size: 15px;
}
.button-count{
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    background: #F37335;
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    bottom: 3px;
    right: -4px;
}
.bg{
    text-align: center;
    color: #FFFFFF;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center center;
    padding: 142px 0;
    margin-bottom: 138px;
}
.breadcrumbs{
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
    justify-content: center;
    display: flex;
    gap: 7px;
}
.breadcrumbs a{
    color: #DEDEDE;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    transition: 0.2s;
}
.breadcrumbs a:hover{
    color: #FFC725;
}
.breadcrumbs a::before{
    content: "/";
    position: relative;
    left: -3px;
    pointer-events: none;
}
.breadcrumbs a:hover::before{
    color: #DEDEDE;
}
.breadcrumbs li:first-child a::before{
    display: none;
}
.title{
    font-weight: 700;
    font-size: 79px;
    margin-top: 17px;
    margin-bottom: 20px;
}
.description{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
}

.banner-box{
    background-image: url(../img/box-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 100px 100px 100px;
    background-position: 0 center;
    margin-bottom: 82px;
}
.banner-title{
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
    margin: 0 auto;
}
.discount{
    display: block;
    max-width: 60px;
    background-color: #F37335;
    border-radius: 25px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #FFFFFF;
    padding: 5px 18px;
    margin-bottom: 5px;
}
.banner-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #FAF9F9;
}
.banner-link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #1E2F40;
    display: inline-block;
    background-color: #FBB731;
    padding: 18px 22px;
    border-radius: 5px;
    border: 1px solid #FBB731;
    transition: 0.2s;
}
.banner-link:hover{
    background-color: transparent;
    color: #FBB731;
}
.menu{
    padding-top: 20px;
}
.menu-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 37px;
}
.menu-title{
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1B2A49;
    margin: 0;
}
.menu-select{
    border: 1px solid #DEDEDE;
    padding: 12px 30px;
    border-radius: 22px;
    color: #443737;
    font-size: 15px;
    appearance: none;
    flex-basis: 279px;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-size: 12.79px 7.75px;
    background-position: 89% center;
}
.menu-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
}
.menu-grid-thumb{
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;

}
.menu-grid-thumb img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -o-object-fit: cover;
       object-fit: cover;
}
.menu-grid-title{
    font-size: 30px;
    line-height: 38px;
    font-weight: 600;
    color: #1B2A49;
    margin-top: 21px;
    margin-bottom: 6px;
    text-align: center;
}
.menu-grid-prise{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #979797;
    margin-top: 0;
    margin-bottom: 18px;
    text-align: center;
}
.menu-grid-btn{
    width: 153px;
    height: 38px;
    background-color: #FBB731;
    border: none;
    border-radius: 4px;
    padding: 10px 30px;
    text-transform: uppercase;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    gap: 10px;
    transition: 0.2s;
}
.menu-grid-btn:hover{
    background-color: #F37335;
}
.grid-menu-icon{
    background-image: url(../img/shopping-cart-icon.svg);
    width: 18px;
    height: 18px;
    gap: 5px;
}
.grid-menu-text{
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #1E2F40;
}
.addition-menu-title{
    font-size: 44px;
    line-height: 49px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 105px;
}
.footer {
    background: #1E2F40;
    color: #fff;
    padding-top: 118px;
    padding-bottom: 93px;
    margin-top: 138px;
}
.footer-logo {
    width: 63px;
    height: 56px;
}

.footer-item h2 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 19px;
    margin-top: 0;
}
.footer-list li {
    margin-bottom: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FAF9F9;
    font-weight: 700;
    line-height: 24px;
}
.footer-list-item a {
    color: #DEDEDE;
    text-decoration: none;
    font-weight: 400;
    transition: 0.2s;
}
.footer-list-item a:hover{
    color: #FBB731;
}
.footer-item span {
    color: #DEDEDE;
    display: block;
    font-weight: 400;
    margin-bottom: 2px;
}
.footer-list-tel{
    margin-top: 0;
}
.footer-list-tel li {
    margin-bottom: 12px;
}
.footer-list-tel a {
    font-size: 20px;
    font-weight: 900;
    color: #FBB731;
    text-decoration: none;
    transition: 0.2s;
}
.footer-list-tel a:hover{
    color: #FAF9F9;
}
.footer-box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.footer-list{
    padding-left: 0;
    list-style-type: none;
}
.button-up{
    background-color: #FBB731;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #1E2F40;
    text-decoration: none;
    padding: 5px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    transition: 1s;
}
.button-up:hover{
    background-color: #F37335;
}
.button-up.hidden{
    opacity: 0;
}
.button-up.visible{
    opacity: 1;
}

/* style index */

.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.content {
    color: #FAF9F9;
    flex: 0 0 580px;
    padding-top: 170px;
    padding-bottom: 169px;
}
.content-title {
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 140px;
    margin-bottom: 40px;
    margin-top: 0;
    margin-bottom: 0;
}
.content-title span {
    color: #FBB731;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    display: block;
    margin-bottom: 13px;
}
.content-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    line-height: 1.4;
    margin-top: 32px;
    margin-bottom: 48px;
}
.content-link,
.promo a {
    color: #1E2F40;
    background-color: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    padding: 21px 47px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    transition: 0.2s;
}
.content-link:hover, 
.promo a:hover {
    background-color: #F37335;
}
.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.visual-bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}
.main img {
    width: 829px;
    position: absolute;
    right: -168px;
}
.promo {
    padding-top: 186px;
    padding-bottom: 46px;
}
.promo-left,
.promo-right {
    flex: 0 0 49%;
    color: #fff;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.promo-left {
    background-image: url(../img/promo-left.png);
    padding: 116px 50px;
}
.promo-right {
    background-image: url(../img/promo-right.png);
    padding: 102px 50px;
}
.sale {
    font-size: 14px;
    font-weight: 900;
    background: #F37335;
    padding: 5px 19px;
    border-radius: 14px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 3px;
    margin-top: 0;
}
.cost {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 8px;
    margin-top: 0;
}
.promo-description {
    font-family: 'Open Sans', sans-serif;
    color: #FAF9F9;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
}
.promo-left .promo-description {
    max-width: 392px;
}
.promo-right .promo-description {
    max-width: 300px;
    margin-bottom: 20px;
}
.free {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
}


/* MODAL */

.burger{
    width: 34px;
    height: 22px;
    background-image: url(../img/burger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.modal{
    background-color: #fff8dc;
    max-width: 500px;
    text-align: center;
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    margin: 20px auto 0;
    padding: 40px 30px;
    box-sizing: border-box;
    transition: 0.5s;
}
.modal .header-nav{
    flex-direction: column;
    align-items: center;
    gap: 23px;
    margin: 0;
    padding: 0 40px;
}
.burger-close{
    background-image: url(../img/burger-close.png);
    width: 22px;
    height: 22px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}


                                                     /*  R E S P O N S I V E  */


@media (min-width: 1001px) {
    .footer-list + .footer-list-tel{
        display: none;
    }
}
@media (min-width: 766px){
    .header-burger{
        display: none;
    }
}


    /* STYLE MENU | iPad */

@media (max-width: 1000px) {
    .container{
        max-width: 738px;
    }
    .header-logo{
        width: 150px;
        height: 48px;
        background-size: contain;
    }
    .header-nav{
        gap: 22px;
    }
    .header-item{
        flex-basis: 75.5%;
    }
    .bg{
        margin-bottom: 72px;
    }
    .banner-box{
    background-position: -80px center;
    padding: 100px 40px 120px;
    }
    .menu-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 15px;
    }
    .menu-other{
        overflow: hidden;
        height: 661px;
    }
    .menu-other .menu-grid{
        display: flex;
        width: auto;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 50px;
    }
    .menu-other .menu-grid-item{
        flex: 0 0 281px;
    }
    .menu-other .menu-grid-thumb,
    .menu-other .menu-grid-thumb img{
        height: 320px;
    }
    .footer-tel {
        display: none;
    }
    .footer-list + .footer-list-tel{
        display: block;
    }


    /* STYLE INDEX */

    .wrapper{
        max-width: 738px;
        margin: 0 auto;
    }
    .content{
        padding-top: 42px;
        padding-bottom: 122px;
        flex: 0 0 569px;

    }
    .content-title span{
        font-size: 22px;
        line-height: 27px;
    }
    .content-title{
        font-size: 86px;
        line-height: 100px;
    }
    .content-text{
        font-size: 14px;
        line-height: 19px;
    }
    .content-link, .promo a{
        font-size: 13px;
        line-height: 16px;

    }
    .visual{
        right: 38px;
    }
    .visual-bg{
        width: 198px;
    }
    .main img{
        width: 456px;
        right: -105px;
        margin-top: 131px;
    }
}


    /* STYLE MENU */

@media (max-width: 765px){
    nav{
        display: none;
    }
    .header{
        gap: 21px;
    }
    .menu-other .container{
        padding-right: 0;
    }
    .button-up.visible{
        display: none;
    }
    

    /* STYLE INDEX */

    .content{
        padding-bottom: 124px;
        padding-left: 22px;
        flex: 0 0 560px;
    }
    .content-text{
        margin-top: 23px;
        margin-bottom: 33px;
    }
    .content-link{
        padding: 17px 41px
    }
    .header{
        gap: 21px;
    }
    .visual{
        right: 53px;
    }
    .main .visual-bg{
        width: 198px;
    }
    .promo{
        padding: 106px 14px 5px;
    }
    .promo-left{
        padding: 44px 30px;
    }
    .cost{
        margin-top: 5px;
    }
    .promo-right{
        padding-top: 55px;
        padding-bottom: 44px;
        padding-left: 33px;
    }
    .promo-description{
        margin-bottom: 17px;
    }
    .free{
        margin-top: 8px;
    }
    .promo a{
        padding: 17px 41px;
    }
    .footer{
        padding-top: 68px;
        padding-bottom: 62px;
    }
}


    /* STYLE MENU */

@media (max-width: 567px){
    .header{
        padding-top: 19px;
        padding-bottom: 19px;
    }
    .header-logo{
        width: 116px;
        height: 37px;
    }
    .breadcrumbs a{
        font-size: 15px;
    }
    .bg{
        margin-bottom: 33px;
    }
    .title{
        font-size: 38px;
    }
    .description{
        font-size: 12px;
    }
    .bg{
        padding: 55px 0;
    }
    .banner-box{
        background-position: 17% center;
        padding: 35px 24px 54px;
        margin-bottom: 40px;
    }
    .menu-title{
        font-size: 27px;
    }
    .menu-select{
        flex-basis: 136px;
        font-size: 12px;
        padding: 13px 24px 13px 15px;
        background-position: 92% center;
    }
    .menu-grid{
        gap: 25px 6px;
        margin-bottom: 40px;
    }
    .menu-grid-thumb{
        height: 56vw;
        margin-bottom: 10px;
    }
    .menu-grid-thumb img{
        height: 100%;
    }
    .menu-grid-title{
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .addition-menu-title{
        margin-top: 0px;
        text-align: center;
    }
    .menu-grid-prise{
        font-size: 16px;
        margin-bottom: 7px;
    }
    .menu-grid-btn{
        margin-bottom: 17px;
        padding: 10px 21px;
    }
    .menu-other{
        height: 110vw;
    }
    .menu-other .menu-grid{
        padding-bottom: 24vw;
    }
    .menu-other .menu-grid-thumb{
        height: 50vw;
    }
    .menu-other .menu-grid-thumb img{
        height: 100%;
    }
    .menu-other .menu-grid-item{
        flex: 0 0 38vw;
    }
    .menu{
        margin-bottom: 0;
    }
    .footer{
        padding-top: 60px;
        padding-bottom: 60px;
        margin-top: 0;
    }
    .footer-item{
        flex: 0 1 auto;
    }
    .footer-item h2{
        font-size: 15px;
    }
    .footer-list + .footer-list-tel{
        display: none;
    }
    .footer-tel{
        display: block;
    }
    .footer-box{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-areas: "logo tel" "link link" "info info";
        gap: 0;
    }
    .footer-item:nth-child(1){
        grid-area: logo;
    }
    .footer-item:nth-child(2){
        grid-area: link;
    }
    .footer-item:nth-child(3){
        grid-area: info;
    }
    .footer-tel{
        grid-area: tel;
        text-align: right;
    }
}


    /* STYLE MENU | iPhone SE */

@media (max-width: 360px){
    .header-logo{
        width: 116px;
        height: 37px;
        background-size: contain;
    }
    .menu-select{
        flex-basis: 137px;
        padding-left: 13px;
        padding-right: 13px;
    }
    .menu-grid-title{
        font-size: 13px;
    }
    .addition-menu-title{
        font-size: 24px;
    }
    .banner-box{
        padding: 35px 14px 11px;
    }
    .footer-box{
        flex-direction: column;
    }


    /* STYLE INDEX */

    .visual-bg{
        display: none;
    }
    .content{
        flex: 0 0 291px;
    }
    .content-title
    span{
        font-size: 14px;
    }
    .content-title{
        font-size: 58px;
        line-height: 69px;
    }
    .main img{
        width: 293px;
        right: -124px;
        margin-top: 329px;
    }
    .promo-wrapper{
        flex-direction: column;
        padding: 0;
        gap: 21px;
    }
    .footer{
        margin-top: 56px;
        padding: 61px 0 25px;
    }
}

@media (max-width: 320px){
    .banner-box{
        background-position: 25% center;
    }
}